Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PasteDeploy==1.5.2
PyYAML==3.11
Pygments==1.6
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
binstar==dev
clyent==0.3.0
gunicorn==19.1.1
ipython==2.3.0
itsdangerous==0.24
matplotlib==1.4.2
mpld3==0.3git
numpy==1.9.0
pyparsing==2.0.1
python-dateutil==1.5
pytz==2014.7
pyzmq==14.4.0
requests==2.4.3
runipy==0.1.1
six==1.8.0
tornado==4.0.2
wsgiref==0.1.2
-r requirements/mpld3.txt
-r requirements/masmvali.txt
